// This file loads universal styles first.
@import "config/colors";

@import "util/normalize";
@import "util/box-sizing";
@import "util/fonts";
@import "util/forms";

a {
  text-decoration: none;
}

body {
  color: $color-base-text;
  background-color: $color-base-bg;
  background-image: url("/dist/img/template/bg-light.jpg");
  background-size: cover;
  @include copy-font;
}
