@import "config/colors";
@import "config/type";
@import "util/mixins";

.heroselect {
  margin: 0 0 30px;
  padding: 30px 0;
  border-top: 1px solid rgba($color-white, 0.5);
  text-align: center;

  &-title {
    margin-bottom: 20px;
    @include ow-font-large;
  }

  &-hero {
    border-top: 3px solid $color-heroselect-hero-border;
    border-bottom: 3px solid $color-heroselect-hero-border;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 74px;
    margin: 0 3px 20px;
    background-color: $color-heroselect-hero-bg;
    border-radius: 8px;
    cursor: pointer;
    @include ow-box;

    &-portrait {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom center;
    }

    &-name {
      position: absolute;
      bottom: -8px;
      left: 7px;
      right: 7px;
      height: 16px;
      line-height: 16px;
      font-size: 10px;
      background: $color-heroselect-name-bg;
      color: $color-heroselect-name-text;
      border-radius: 1000px;
      text-transform: uppercase;
    }

    &:hover {
      background-color: $color-heroselect-hero-bg-hover;
    }

    &.isActive {
      background-color: $color-heroselect-hero-bg-active;
      border-color: $color-heroselect-hero-border-active;
      &:hover {
        background-color: $color-heroselect-hero-bg-active-hover;
      }
      .heroselect-hero-name {
        background-color: $color-heroselect-name-bg-active;
        color: $color-heroselect-name-text-active;
      }
    }
  }
}