<html>
  <head>
    <title>Oh shit...</title>
  </head>
  <body>
    <h1>Drats, you've foiled my hidden plans!</h1>
    <h2>
      But maybe you should go
      <a href="/">back to the site</a>.
    </h2>
  </body>
</html>