<html>
  <head>
    <title>Overwatch LFG</title>
    <link rel="stylesheet" href="/dist/css/styles.css" />
  </head>
  <body>
    <div id="root"></div>

    <script src="/dist/js/app.js"></script>
  </body>
</html>