@font-face {
  font-family: 'BigNoodle';
  src: url('/dist/fonts/big-noodle-normal.ttf');
}

@font-face {
  font-family: 'BigNoodle';
  src: url('/dist/fonts/big-noodle-oblique.ttf');
  font-style: italic, oblique;
}
