@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$ow-skew: -0.25rad;
$ow-unskew: 0.25rad;

@mixin ow-box {
  transform: skew($ow-skew);
  > * {
    transform: skew($ow-unskew);
  }
}
