@import "config/colors";
@import "config/type";

.owbtn {
  display: inline-block;
  min-width: 200px;
  height: 46px;
  line-height: 46px;
  border: none;
  padding: 0 16px;
  border-radius: 4px;
  font-size: 18px;
  font-family: "Helvetica Neueu", sans-serif;
  cursor: pointer;
  outline: none;

  &, &--default {
    background-color: $color-button-default;
    &:hover {
      background-color: lighten($color-button-default, 5%);
    }
    &, a {
      color: $color-button-default-text;
    }
  }

  &--primary {
    background-color: $color-button-primary;
    &:hover {
      background-color: saturate(lighten($color-button-primary, 5%), 10%);
    }
    &, a {
      color: $color-button-primary-text;
    }
  }

  &--link {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    box-shadow: none;
    background: none;

    &:hover {
      background: none;
    }
    &, a {
      color: $color-button-link-text;
    }
  }
}