@import "config/forms";
@import "config/type";
@import "config/colors";
@import "util/mixins";

.owcheckbox {
  // Just to bring it inline with other elements.
  width: auto;
  min-width: 0;
  margin-top: $owform-label-height;

  &-label {
    line-height: $owform-el-height;
    vertical-align: top;
  }

  &-checkbox {
    position: absolute;
    opacity: 0.00001;
  }

  &-box {
    display: inline-block;
    vertical-align: top;
    width: $owform-el-height;
    height: $owform-el-height;
    margin-right: 8px;
    background-color: $color-owform-bg;
    box-shadow: 0 0 0 2px $color-owform-border inset;
    border-radius: $owform-el-radius;
    text-align: center;
    @include ow-box;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 2px $color-owform-hover inset;
    }

    &.isChecked {
      background-color: $color-owform-active;
      box-shadow: 0 0 0 2px $color-owform-active inset;
    }

    &-check {
      display: none;
      line-height: $owform-el-height;
      color: $color-owform-bg;

      &.isChecked {
        display: block;
      }
    }
  }
}