@import "config/forms";
@import "config/type";
@import "config/colors";
@import "util/mixins";

.owselect {
  height: $owform-el-height;
  margin-top: $owform-label-height;
  background: $color-owform-bg;
  box-shadow: 0 0 0 2px $color-owform-border inset;
  border-radius: $owform-el-radius;
  @include ow-box;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px $color-owform-hover inset;
  }

  &-active {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 12px;
    font-size: 16px;
    line-height: $owform-el-height;
    color: $color-owform-label;
    @include copy-font;
  }

  &-select {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    opacity: 0.00001;
    cursor: pointer;
  }

  &-label {
    position: absolute;
    top: -$owform-label-height;
    left: 0;
  }
}
