$color-white: #FFF;
$color-light: #CCD0D9;
$color-dark: #060606;
$color-brown: #2F2526;
$color-beige: #584F4A;
$color-orange: #FAA02E;
$color-yellow: #FCBD49;
$color-blue: #017EFE;
$color-teal: #01E7FE;