@import "config/colors";

$owform-el-bg: $color-dark;
$owform-el-border: $color-beige;
$owform-el-active: $color-teal;
$owform-el-width: 200px;
$owform-el-height: 32px;
$owform-el-fsize: 14px;
$owform-el-radius: 8px;
$owform-label-height: 28px;
